.page-wrapper{
    padding : 20px 10px;
}

.todoItemList-wrapper{
    margin-bottom:20px;
    height: 70dvh;
    white-space: nowrap;
    overflow-y: auto;
    overflow-x: hidden;
    
}

.tododetail-buttons-wrapper{
    margin-top :20px;
}

.tododetail-buttons-wrapper > button{
    margin-bottom: 10px;
}
.todoAdd-btn-wrapper{
    margin-top : 20px;
}