.formInput-wrapper{
    
}
.formInput-label{
}

.formInput-title-wrapper{
    margin :10px 0px;
}

.formInput-title{
    border-radius : 5px;
}

.formInput-text-wrapper{
    margin-top : 10px;
}

.formInput-text{
    border-radius: 5px;
}
